@import 'inner';

//Homepage overall
.homePageWrapper ul {
  padding: 0;
}

//Welcome
#username {
  @extend %text-align-center;
}

//Homepage Table
#homeTable {
  margin: 0 auto;
  display: table;
  border-color: $button-blue;
  border-collapse: collapse;
  th,td {
    display: table-cell;
    vertical-align: middle;
    padding: 0.5rem;
    @extend %text-align-center;
  }
}

//Home Buttons
.homeButtons {
  @extend %text-align-center;
  margin-top: 30px;
}

.homeButtons a {
  color: #ffffff;
  padding: 15px;
  background-color: #1976a1;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  @extend %text-align-center;
}