<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>No.1 Promary School FMS</title>
  <script charset="utf-8" src="/scripts/library/vue-2.5.17.js"></script>
  <script charset="utf-8" src="/scripts/library/vuex-3.1.1.js"></script>
  <script src="/scripts/library/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/style/core.css">
  <link rel="stylesheet" type="text/css" href="/style/home.css">
</head>
<body>
  <header>欢迎登录</header>
  <div id="homeComponent">
    <!--vue-ssr-outlet-->
  </div>
</body>
<script charset="utf-8" src="/scripts/home.js"></script>
</html>