<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>No.1 Promary School FMS</title>
  <script src="/scripts/library/jquery-3.1.1.min.js"></script>
  <script charset="utf-8" src="/scripts/library/vue-2.5.17.js"></script>
  <script charset="utf-8" src="/scripts/library/vuex-3.1.1.js"></script>
  <link rel="stylesheet" type="text/css" href="/style/core.css">
  <link rel="stylesheet" type="text/css" href="/style/main.css">
</head>
<body>
  <header>乌市第一小学采购管理系统</header>
  <div id="loginComponent">
    <login-component></login-component>
  </div>
</body>
<script charset="utf-8" src="/scripts/main.js"></script>
</html>