#username, #homeTable th, #homeTable td, .homeButtons, .homeButtons a {
  text-align: center; }

.homePageWrapper ul {
  padding: 0; }

#homeTable {
  margin: 0 auto;
  display: table;
  border-color: #1976a1;
  border-collapse: collapse; }
  #homeTable th, #homeTable td {
    display: table-cell;
    vertical-align: middle;
    padding: 0.5rem; }

.homeButtons {
  margin-top: 30px; }

.homeButtons a {
  color: #ffffff;
  padding: 15px;
  background-color: #1976a1;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold; }
