body {
  /*background-image: url("/images/login.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  position: relative; }

header {
  position: absolute;
  top: 40%;
  left: 60%;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bolder;
  font-size: 20px;
  border-radius: .2em; }

#loginComponent {
  position: absolute;
  top: 45%;
  left: 60%;
  height: 8em;
  width: 10em; }
  #loginComponent form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5em; }
    #loginComponent form input {
      border-radius: .5em;
      outline: none; }
    #loginComponent form input[name=password] {
      position: absolute;
      top: 30%;
      left: 0; }
    #loginComponent form button, #loginComponent form a {
      position: absolute;
      bottom: 5%;
      border-radius: .3em;
      outline: none; }
    #loginComponent form button {
      left: 10%; }
    #loginComponent form a {
      right: 10%;
      text-decoration: none;
      color: black;
      font-weight: bolder;
      background-color: rgba(255, 255, 255, 0.5); }
